nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
    height: 55px !important;
    line-height: 55px !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #424242 !important;
}
.row .col.m2 {
    padding:0 !important;
}
#homeNav {
    width: 50px;
    text-align: center;
}
.CategNav {
    width: 150px;
    text-align: center;
    text-transform: uppercase;
}
.SousCategNav {
    width: 150px !important;
}
/*#logoMenu {*/
    /*!*width: 30px;*!*/
    /*!*height: 20px;*!*/
    /*padding-left: 50px;*/
/*}*/

#logoAccueil {
    width: 500px;
    height: 175px;
    position: relative;
    bottom: 27px;
}
.divPhoto {
    position: relative;
}
.imgCateg {
    height: 240px;
    width: 267px;
}
.blocTitle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
}
.button {
    position: absolute;
    bottom: 7px;
    right: 0;
}
.title {
    font-weight: 600;
    text-shadow: 2px 0 0 #424242, -2px 0 0 #424242, 0 2px 0 #424242, 0 -2px 0 #424242, 1px 1px #424242, -1px -1px 0 #424242, 1px -1px 0 #424242, -1px 1px 0 #424242;;
    color: #fff;
    padding: 0 0 12px;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 39px;
    opacity: 0.7;
}
#descriptifAccueil {
    position: relative;
    bottom: 30px;
    padding: 0 50px 0 50px;
    font-size: 20px;
}